/* Define a unidade de medida padrão para a fonte em 62.5% do tamanho padrão.
   Isso facilita o uso de rem (root em) para unidades de medida 1 rem = 10px. */
:root {
  font-size: 62.5%;
}

/* Zera as margens, preenchimentos e define a caixa de modelo de borda para todos os elementos.
     Define a fonte padrão para 'Poppins' e sans-serif. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Estilos gerais para o Body. */
body {
  font-size: 1.6rem;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Estilos para a barra de navegação fictícia, sem links ancorados. */
nav {
  width: 100%;
  background-color: #be4444;
  padding: 1.2rem;
}

nav ul {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

/* Estilos para o título principal h1. */
h1 {
  text-align: center;
  color: #ff0000;
  margin: 2rem;
  font-weight: 700;
}

/* Estilos para o container principal de criptomoedas. */
#criptoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem;
}

/* Estilos para cada card de criptomoeda. */
#criptoContainer>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #be4444;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  width: 30rem;
  box-shadow: 0 0 10px rgb(211, 152, 152);
  transition: 0.4s;
}

/* Estilos para animação de escala ao passar o mouse sobre um card. */
#criptoContainer>div:hover {
  transform: scale(1.008);
}

/* Estilos para imagens das criptomoedas. */
img {
  max-width: 50%;
  height: auto;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

/* Estilos para o container onde estão o inputFilter e 02 botões. */
#buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Estilos para os botões. */
button {
  width: 6rem;
  background-color: #ff0000;
  color: white;
  padding: 0.3rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

/* Efeito hover para os botões. */
button:hover {
  background-color: #cc0000;
}

/* Estilos para a div onde será apresentado o valor convertido. */
#valorConvertido {
  width: 37rem;
  font-weight: bold;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #fff;
  background-color: #000;
}

/* Estilo para campo de entrada filtro. */
#inputFiltro {
  width: 22rem;
  text-align: center;
  margin: 0.8rem 0;
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #fff;
  background-color: #000;
  color: #fff;
}

/* Estilo para campo de entrada quantidade */
#quantidadeInput {
  width: 12rem;
  text-align: center;
  margin: 0.8rem 0;
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #fff;
  background-color: #000;
  color: #fff;
}

/* Estilo para campo de seleção. */
select {
  width: 18rem;
  height: 3.9rem;
  text-align: center;
  margin: 0.8rem 0;
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #fff;
  background-color: #000;
  color: #fff;
  text-align: center;
}

/* Estilos para a seção contendo a história das criptomoedas. */
#descricao {
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: #813030;
  text-align: center;
  cursor: url('./assets/cursor.png'), auto;
}

/* Estilos para a seção de cotações das criptomoedas. */
#cotacao {
  width: 28rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  gap: 0.1rem;
  justify-content: left;
  background-color: #813030;
  border-radius: 0.4rem;
  margin-top: 0.3rem;
  text-align: left;
}

/* Estilos para o summary. */
summary {
  background-color: #6d2828;
  border-radius: 0.4rem;
  margin: 0.3rem;
}

/* Estilo para deixar a cotação mais a direita, destacada em relação a data e hora. */
#details {
  padding-left: 5rem;
}

/* Centraliza a cotação de da criptomoeda em cada moeda. */
#details p {
  text-align: center;
}

/* Estilo para a classe .linha e sua animação. */
.linha {
  position: relative;
  cursor: pointer;
}

/* Estilo para a classe .linha e sua animação que faz a linha ficar abaixo de todo o texto porém invisível. */
.linha::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 0.1rem;
  width: 0;
  background-color: rgb(54, 3, 3);
  transition: 0.4s;
}

/* Estilo para a linha da animação ocupar todo o texto na velocidade do transition acima. */
.linha:hover::after {
  width: 100%;
}

#criptoContainer>div:last-child #details {
  padding-bottom: 1rem;
}

/* Estilos para o rodapé fictício. */
footer {
  width: 100%;
  background-color: #be4444;
  padding: 1.2rem;
  display: flex;
  color: white;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

/* Estilos responsivos para telas menores que 932px. */
@media(max-width: 932px) {
  img {
    max-width: 30%;
  }


  #containerCalculo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #quantidadeInput,
  #moedaDestinoSelect,
  #buttonCalcular,
  #valorConvertido {
    width: 20rem;
    margin: 0.5rem 0;
    margin-top: 0.5rem;
  }

}
